.user-trips {
    padding: 0;

    .trips {
        font-size: rem(24.6px);
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ul {
        padding: 0;

        .order-preview {
            padding: 15px;
            padding-inline-start: 0;
            padding-inline-end: 0;
            display: grid;
            grid-template-columns: 220px 9fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            align-items: center;
            p , h1{
                white-space: pre-wrap;
            }
        }
    }

    .stay-trip-img {
        justify-self: flex-start;
        grid-row: 1/span 3;
        object-fit: cover;
        padding: 0;
        width: 190px;
        height: 150px;
        border-radius: 10px;
    }

    .status {
        justify-self: flex-end;
        margin-right: 0;
        margin-right: 0;
    }

    .yellow {
        color: rgb(236, 168, 40);
    }
}

@media (max-width:835px){
    .user-trips{
        ul {
        .order-preview {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .stay-trip-img{
            width: 100%;
            height: auto;
            aspect-ratio: 3/2;
        }
        .status{
            padding-inline-start: 0;
            align-self: center;
            width: fit-content;
            margin-block-start: rem(10px);
        }
    }
    }
}